html {
    background-size: cover;
    background-image: url(Media/photos/other/tree_closeup.png);
    color:rgb(240, 209, 169);
}

h1 {
    font-family:'Courier New', Courier, monospace;
    font-variant: small-caps;
    font-size: 50px;
    text-align: center;
    width: 100%;
    color:burlywood;
    font-weight: normal;
}

p {
    font-family: Courier, monospace;
    font-variant: small-caps;
    font-weight: normal;
    font-size: larger;
}


/* Link Styling */
a:hover {
    color: maroon;
}

/* Styling text for About page */

#about_block {
    display:inline-flex;
    justify-items:left;
    flex-flow: column wrap;
    max-height: 800px;
}

#about_all {
    font-style: italic;
    color: darkgoldenrod;
}

.about_first_word {
    color: darkgoldenrod;
}

#about_block p {
    margin: 20px;
    width: 45%;
    font-weight: 200;
    font-size: 20px;
}

@media only screen and (max-width: 1000px) {
    #about_block {
        max-height: none;
    }
    #about_block p {
        margin: 20px 5px;
        width: 100%;
    }
}

@media only screen and (max-width: 1200px ) and (min-width: 1000px){
    #about_block {
        max-height: 1050px;
    }
}

@media only screen and (max-width: 1400px) and (min-width: 1200px) {
    #about_block {
        max-height: 900px;
    }
}

/* Styling for the Video Gallery */

#videos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.video_block {
    justify-content: center;
    padding: 20px;
    text-align: center;
}


/* Styling for the Lyrics page */

#lyrics_main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.lyrics_block {
    width: auto;
    border: 2px wheat;
    justify-content: center;
}

.song_title {
    font-size: larger;
    font-weight: normal;
    color: darkgoldenrod;
    text-decoration:underline;
    padding-bottom: 10px;
}

.lyrics_text {
    width: auto;
    font-size: large;
    font-variant: normal;
}

.chorus_text {
    color: darkgoldenrod;
}

/* Styling for the Listen page */
#audio {
    display: inline-flex;
    flex-direction: row;
    flex-basis: 30%;
    justify-content: center;
    flex-wrap: wrap;
}
.audio_block {
    align-content: center;
    width: 30%;
}


/* Dealing with the nav bar links*/

a:link, .nav_link, a:visited, .nav_link:visited:visited {
    color:darkgoldenrod;
}

nav a:hover, .nav_link:hover:hover {
    color:cornsilk;
}

a:active, .nav_link:active:active {
    color:rgb(205, 154, 92);
}

nav {
    margin-bottom: 20px;
    background-image: url(Media/photos/other/tree_closeup.png);
    background-size: cover;
    width: 100%;
    padding: 15px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 50px;
    flex-wrap: wrap;
}

nav ul {
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style-type: none;
    align-items:center;
}

nav li {
    display: inline;
    float:left;
    font-size:x-large;
    font-variant:small-caps;
    font-family: 'Courier New', Courier, monospace;
}

nav li a {
    display: block;
    text-align: center;
    padding: 15px 30px;
    text-decoration: none;
}

/* Mobile / screen size accomodations */

@media only screen and (max-width: 800px) and (min-width: 400px) {
    nav ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    nav li{
        flex-basis: 30%;
        justify-content: center;
    }
    nav li a {
        padding: 15px;
    }
}

@media only screen and (max-width: 400px) {
    nav li {
        flex-basis: 50%;
        justify-content: center;
    }

    nav li a {
        padding: 10px;
    }
}


/* Nav Dropdown */

.nav_dropdown {
    visibility:hidden;
    transition: 0.1s;
    align-content: center;
    max-width: 100px;
    margin: 0 32px;
    padding: 0;
    flex-direction: column;
    display: flex;
    position:absolute;
    background-color: #021901;
    opacity: 0.95;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #211a05 4px ), repeating-linear-gradient( #030f0055, #051f0055 );
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.nav_dropdown_link a {
    margin: 10px 12px;
    padding: 0;
    align-items: center;
    font-size:large;
}

.dropdown_catalyst:hover .nav_dropdown {
    visibility: visible;
}


/* Images for the Home page */

#homepage_photo_lineup {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    gap: 40px 250px;
}

.photo_circle {
    position: relative;
    margin: 0;
    padding: 0;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 4px double darkgoldenrod;
    background-size: cover;
}


#home_image_1 {
    background: url(Media/photos/other/cilva_sleep.jpg);
    background-size: cover;
}

#home_image_1:hover {
    background: url(Media/photos/other/cilva_up.jpg);
    background-size: cover;
}

#home_image_2 {
    background: url(Media/photos/other/pizza_lounge.jpg);
    background-size: cover;
}

#home_image_2:hover {
    background: url(Media/photos/other/pizza_distracted.jpg);
    background-size: cover;
}

#home_image_3 {
    background-image: url(Media/photos/other/kea_sleep.jpg);
}

#home_image_3:hover {
    background-image: url(Media/photos/other/kea_up.jpg);
}

#home_image_4 {
    background-image: url(Media/photos/other/bella_judge.jpg);
}

#home_image_4:hover {
    background-image: url(Media/photos/other/bella_up.jpg);
}

#home_image_5 {
    background-image: url(Media/photos/other/pony_splash.png);
}

#home_image_5:hover {
    background-image: url(Media/photos/other/pony_strike_1.png);
}

#home_image_6 {
    background-image: url(Media/photos/other/snowy_sideeye_cropped.png);
}

#home_image_6:hover {
    background-image: url(Media/photos/other/snowy_displeased_cropped.png);
}

#home_image_7 {
    background-image: url(Media/photos/other/ruari_sleep.jpg);
}

#home_image_7:hover {
    background-image: url(Media/photos/other/ruari_up.jpg);
}


/* Images - Gallery */

img {
    width: 100%;
    margin: 30px 0;
    border-radius: 5%;
    border: 3px solid darkgoldenrod;
    padding: 1px;
}

.image__block {
    max-width: 450px;
    position: relative;
    margin: 30px 0px;
    padding: 0;
    display:flex;
    justify-content: center;
}

.image__description {
    visibility: hidden;
    font-weight: lighter;
    width:100%;
    padding: 0px;
    text-align:center;
    margin-top: 50px;
    color: white;
    background-color:dimgray;
    position:absolute;
    transition: opacity .2s, visibility .2s;
    opacity: 0;
}

.image__block:hover .image__description {
    visibility: visible;
    opacity: .8;
}

#photos {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
}

/* Styling Gallery h1s */

.gallery_head {
    width: 100%;
    text-align: center;
}


/* Easter Eggs */
.easter_egg img{
    max-width: 50px;
    border: none;
    visibility: hidden;
    margin: 0;
    padding: 0;
}

.easter_egg:hover img {
    visibility: visible;
}

#contact_egg {
    position: absolute;
    bottom: 80px;
    right: 370px;
    margin: 0;
    padding: 0;
}

#lyrics_egg {
    position: absolute;
    margin: 0;
    padding: 0;
    bottom: -650px;
    left: 650px;
}

#upcoming_egg{
    position: absolute;
    margin: 0;
    padding: 0;
    left: 50px;
}

#about_egg {
    position: absolute;
    margin: 0;
    padding: 0;
    bottom: 140px;
    left: 350px;
}

#about_egg_2 {
    position: absolute;
    margin: 0;
    padding: 0;
    bottom: -120px;
    left: 600px;
}

