html {
    background-size: cover;
    background-image: url(Media/photos/other/tree_closeup.png);
    color:rgb(240, 209, 169);
}

/* Link Styling */
a:hover {
    color: maroon;
}

a:active, .nav_link:active {
    color:rgb(205, 154, 92);
}


/* General Elements */

h1 {
    font-family:'Courier New', Courier, monospace;
    font-variant: small-caps;
    font-size: 50px;
    text-align: center;
    width: 100%;
    color:burlywood;
    font-weight: normal;
}

p {
    font-family: Courier, monospace;
    font-variant: small-caps;
    font-weight: normal;
    font-size: larger;
}

body {
    position: relative;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    max-width: 100%;
    align-items: normal;
    justify-content:flex-start;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

main {
    margin: 0;
    padding-bottom: 5rem;
}

.visually_hidden {
    border-width: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    height: 1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    white-space: nowrap !important;
    width: 1px !important;
  }



/* Styling the Footer */

.footer_content {
    background-image: url(Media/photos/other/tree_closeup.png);
    background-size: cover;
    margin: 0 2.2rem;
    padding: 0;
    width: 95%;
    height: 2rem;
    bottom: 0;
    position: absolute;
    justify-content:space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.footer_item {
    margin: 0 1rem;
    padding: 0;
}

/* Mailing List Form */

.form_item {
    margin-right: .5rem;
    padding: 0;
}

label, input {
    font-family: Courier, monospace;
    font-variant: small-caps;
    font-weight: normal;
    font-size: inherit;
}

#submit, #email {
    margin: .2rem 0 !important;
}

/* Handling screen width issues */

@media only screen and (max-width: 1300px) and (min-width: 1230px) {
    .footer_content {
        height: 2.2rem;
    }
}

@media only screen and (max-width: 1230px) and (min-width: 1150px) {
    .footer_content {
        height: 2.5rem;
    }
    .footer_content p, label, input {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 1150px) and (min-width: 1000px) {
    .footer_content {
        height: 2.7rem;
        margin: 0;
        width: 100%;
    }
    .footer_content p, label, input {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 1000px){
    .footer_content {
        height: 4.5rem;
        flex-direction: column;
        justify-content: center;
        margin: 0;
        width: 100%;
    }
    .footer_content p, label, input {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 500px) {
    .footer_content {
        height: 7rem;
    }
}



/* Dealing with the nav bar links*/

a:link, .nav_link, a:visited {
    color:darkgoldenrod;
}

nav a:hover, .nav_link:hover:hover {
    color:cornsilk;
}

nav {
    margin: 5px;
    background-image: url(Media/photos/other/tree_closeup.png);
    background-size: cover;
    max-width: 100%;
    padding:10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 50px;
    flex-wrap: wrap;
}

nav ul {
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style-type: none;
    align-items:center;
}

nav li {
    display: inline;
    float:left;
    font-size:x-large;
    font-variant:small-caps;
    font-family: 'Courier New', Courier, monospace;
}

nav li a {
    display: block;
    text-align: center;
    padding: 15px 30px;
    text-decoration: none;
}

/* Mobile + screen size accomodations */
@media only screen and (max-width: 800px) and (min-width: 400px) {
    nav ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    nav li{
        flex-basis: 30%;
        justify-content: center;
    }
    nav li a {
        padding: 15px;
    }
}

@media only screen and (max-width: 400px) {
    nav li {
        flex-basis: 50%;
        justify-content: center;
    }

    nav li a {
        padding: 10px;
    }
}

/* Nav Dropdown */
.nav_dropdown {
    visibility:hidden;
    transition: 0.1s;
    align-content: center;
    max-width: 100px;
    margin: 0 32px;
    padding: 0;
    flex-direction: column;
    display: flex;
    position:absolute;
    background-color: #021901;
    opacity: 0.95;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #211a05 4px ), repeating-linear-gradient( #030f0055, #051f0055 );
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.nav_dropdown_link a {
    margin: 10px 12px;
    padding: 0;
    align-items: center;
    font-size:large;
}

.dropdown_catalyst:hover .nav_dropdown {
    visibility: visible;
}



/* Images for the Home page */

#homepage_photo_lineup {
    margin-bottom: 0;
    padding-bottom: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    gap: 40px 250px;
}

.photo_circle {
    position: relative;
    margin: 0;
    padding: 0;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 1px solid darkgoldenrod;
    background-size: cover;
}


#home_image_1 {
    background-image: url(Media/photos/other/cilva_sleep.jpg);
}

#home_image_1:hover {
    background-image: url(Media/photos/other/cilva_up.jpg);
}

#home_image_2 {
    background-image: url(Media/photos/other/pizza_lounge.jpg);
}

#home_image_2:hover {
    background-image: url(Media/photos/other/pizza_distracted.jpg);
}

#home_image_3 {
    background-image: url(Media/photos/other/kea_sleep.jpg);
}

#home_image_3:hover {
    background-image: url(Media/photos/other/kea_up.jpg);
}

#home_image_4 {
    background-image: url(Media/photos/other/bella_judge.jpg);
}

#home_image_4:hover {
    background-image: url(Media/photos/other/bella_up.jpg);
}

#home_image_5 {
    background-image: url(Media/photos/other/pony_splash.png);
}

#home_image_5:hover {
    background-image: url(Media/photos/other/pony_strike_1.png);
}

#home_image_6 {
    background-image: url(Media/photos/other/snowy_sideeye_cropped.png);
}

#home_image_6:hover {
    background-image: url(Media/photos/other/snowy_displeased_cropped.png);
}

#home_image_7 {
    background-image: url(Media/photos/other/ruari_sleep.jpg);
}

#home_image_7:hover {
    background-image: url(Media/photos/other/ruari_up.jpg);
}

@media only screen and (max-width: 500px) {
    #homepage_photo_lineup {
        margin-bottom: 5rem;
    }
}


/* Styling text for About page */

#about_block {
    display:inline-flex;
    justify-items:left;
    flex-flow: column wrap;
    max-height: 770px;
    padding-bottom: 3rem;
    flex-wrap: wrap;
}

#about_all {
    font-style: italic;
    color: darkgoldenrod;
}

#about_block p {
    margin: 20px;
    width: 45%;
    font-weight: 200;
    font-size: 20px;
}

@media only screen and (max-width: 1400px) and (min-width: 1200px) {
    #about_block {
        max-height: 900px;
    }
}

@media only screen and (max-width: 1200px ) and (min-width: 1000px){
    #about_block {
        max-height: 1050px;
    }
}

@media only screen and (max-width: 1000px) and (min-width: 650px) {
    #about_block {
        max-height: none;
    }
    #about_block p {
        width: 95%;
        padding: 5px;
    }
}

@media only screen and (max-width: 650px) {
    #about_block {
        max-height: none;
    }
    #about_block p {
        margin: 10px;
        width: 90%;
        padding: 3px;
    }
}



/* Images - Gallery */

#photos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    padding-bottom: 1rem;
}

img {
    width: 100%;
    margin: 30px 0;
    border-radius: 5%;
    border: 3px solid darkgoldenrod;
    padding: 1px;
}

.image__block {
    max-width: 450px;
    position: relative;
    margin: 25px 15px;
    padding: 0;
    display:flex;
    flex-basis: 50%;
    justify-content: center;
}

.image__description {
    visibility: hidden;
    font-weight: lighter;
    width:100%;
    padding: 0px;
    text-align:center;
    margin-top: 50px;
    color: white;
    background-color:dimgray;
    position:absolute;
    transition: opacity .2s, visibility .2s;
    opacity: 0;
}

.image__block:hover .image__description {
    visibility: visible;
    opacity: .8;
}

@media only screen and (max-width: 1000px) {
    #photos {
        padding-bottom: 3rem;
    }
}

@media only screen and (max-width: 500px) {
    #photos {
        padding-bottom: 5rem;
    }
}

/* Styling Gallery h1s */

.gallery_head {
    width: 100%;
    text-align: center;
}



/* Styling for the Video Gallery */

#videos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    padding-bottom: 3rem;
}

.video_block {
    justify-content: center;
    padding: 20px;
    text-align: center;
}

.video_block iframe {
    border: 2px solid rgba(17, 12, 0, 0.704);
    border-radius: 13px;
}

@media screen and (max-width:1000px) and (min-width: 500px) {
    #videos {
        margin-bottom: 2rem;
    }
}

@media screen and (max-width:850px) {
    .video_block iframe {
        height:337.5px;
        width: 600px;
    }
}

@media screen and (max-width: 650px) {
    .video_block iframe {
        height:281px;
        width: 500px;
    }
}

@media screen and (max-width:550px) {
    .video_block iframe {
        height: 141px;
        width: 250px;
    }
}

@media screen and (max-width:500px) {
    #videos {
        margin-bottom: 5rem;
    }
}



/* Styling for the Lyrics page */

#lyrics_main {
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-content:flex-end;
    padding-bottom: 2rem;
    flex-wrap: wrap;
}

.lyrics_block {
    flex-basis: 40%;
    /* margin:0 2rem; */
    width: auto;
    justify-content:center;
    align-content: center;
}

.song_title {
    font-size: larger;
    font-weight: normal;
    color: darkgoldenrod;
    text-decoration:underline;
    padding-bottom: 10px;
}

.lyrics_text {
    width: auto;
    font-size: large;
    font-variant: normal;
}

.chorus_text {
    color: darkgoldenrod;
}

.lyrics_text p {
    line-height: 2.5rem;
}

/* Mobile styling for Lyrics */
/* nav */
@media screen and (min-width: 800px) {
    .mobile_lyrics_nav {
        display: none;
    }

    .mobile_lyrics_jumpscroll {
        display: none;
    }
}

@media screen and (max-width:800px) {
    #lyrics_main {
        padding-bottom: 4rem;
    }
    .mobile_lyrics_nav{
        display: flex;
        flex-direction: column;
        list-style-type: none;
    }
    
    .mobile_lyrics_item {
        display: inline;
        float:left;
        margin: 10px;
    }

    .mobile_lyrics_item a {
        display: block;
        text-align:left;
        text-decoration: none;
    }
    .mobile_lyrics_item a:hover {
        color: cornsilk;
    }

    .mobile_lyrics_jumpscroll:link, .mobile_lyrics_jumpscroll:visited{
        text-decoration: none;
        font-style: italic;
        color: cornsilk;
        font-size: medium;
    }

    .mobile_lyrics_jumpscroll:hover {
        color:wheat;
    }    
}

/* alignment & font size */
@media only screen and (max-width: 1200px) and (min-width: 800px) {
    .lyrics_block {
        margin: 0 20px;
    }
    .lyrics_text {
        font-size: medium;
    }
    .lyrics_text p {
        line-height: 2.2rem;
    }
}

@media only screen and (max-width: 800px) and (min-width: 520px) {
    #lyrics_main {
        flex-direction: column;
    }

    .lyrics_block {
        margin: 0px 20px;
    }
    .lyrics_text p {
        line-height: 2.2rem;
    }
}

@media only screen and (max-width: 520px) {
    #lyrics_main {
        flex-direction: column;
    }
    .lyrics_block {
        margin: 0 10px;
    }
    .lyrics_text p {
        line-height: 2.2rem;
    }
    #dad_written p::after {
        content: "\a";
        white-space:pre;
    }
}



/* Styling for the Listen page */

#audio {
    display: inline-flex;
    flex-direction: row;
    flex-basis: 30%;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 4rem;
}
.audio_block {
    align-content: center;
    width: 30%;
}



/* Easter Eggs */

.easter_egg img{
    max-width: 50px;
    border: none;
    visibility: hidden;
    margin: 0;
    padding: 0;
}

.easter_egg:hover img {
    visibility: visible;
}

#about_egg {
    position: absolute;
    margin: 0;
    padding: 0;
    bottom: 28.5rem;
    left: 20rem;
}

#about_egg_2 {
    position: absolute;
    margin: 0;
    padding: 0;
    bottom: 3rem;
    left: 34rem;
}

#upcoming_egg{
    position: absolute;
    margin: 0;
    padding: 0;
    left: 5rem;
}

#upcoming_egg_2 {
    position: absolute;
    top: 10rem;
    right: 10rem;
    margin: 0;
    padding: 0;
}

#lyrics_egg {
    position: absolute;
    margin: 0;
    padding: 0;
    bottom: 7rem;
    left: 43rem;
}

